<.header>
  New Transaction
  <:subtitle>Create a new transaction record.</:subtitle>
</.header>

<.transaction_form
  changeset={@changeset}
  action={~p"/transactions"}
  accounts={@accounts}
  categories={@categories}
/>

<.back navigate={~p"/transactions"}>Back to transactions</.back>
