<.header>
  Edit Reason <%= @reason.id %>
  <:subtitle>Use this form to edit reason records in your database.</:subtitle>
</.header>

<.reason_form changeset={@changeset} action={~p"/reasons/#{@reason}"} categories={@categories} parent_reasons={@parent_reasons} />

<.back navigate={~p"/reasons"}>Back to reasons</.back>
